# Use the GitHub owner/org prefix when one GitHub App installation should cover
# multiple private repositories under the same owner.
url=https://github.com/YOUR_GITHUB_OWNER
type=git
githubAppID=123456
githubAppInstallationID=12345678
githubAppPrivateKey="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
