apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: oci-vault
spec:
  provider:
    oracle:
      principalType: InstancePrincipal
      region: ap-seoul-1
      vault: __OCI_VAULT_OCID__
